
.left_pane {
    width: 25%;
    height: 100%;   
    display:inline-block;
    float:left;
    padding: 10px 0px 0px 10px;
}

.right_pane {
    width: 75%;
    height: 700px;
    display: inline-block;
    border-left: 1px solid #ccc;
    float: right;
    padding: 10px 10px 10px 10px;
}

