@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //Layout = "_Layout";
   
}
@model Portal.Areas.CMS.Models.Person

<h1>Home Page</h1>
<h2>@ViewBag.AppName</h2>

attr 1.1
<div app-name ></div>

tag app
<app-name></app-name>

<form asp-controller="Home" asp-action="Submit" method="post">
    <div>
        <label asp-for="Name">Name</label>
        <input asp-for="Name"/>
        <span asp-validation-for ="Name"></span>
    </div>
    <div><button>Submit</button></div>
</form>