<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.min.css" />
    

</head>
<body>
    Layout Shared....1.1<br />
    <my-app>Loading AppComponent content here ...</my-app>
    <div>
        @RenderBody()
    </div>
    <div id="footer"></div>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <!-- Polyfill(s) for older browsers -->
    <script src="/node_modules/core-js/client/shim.min.js"></script>
    <script src="/node_modules/zone.js/dist/zone.js"></script>
    <script src="/node_modules/systemjs/dist/system.src.js"></script>
    <script src="~/systemjs.config.js"></script>
    <script>
        System.import('app').catch(function (err) { console.error(err); });
    </script>
</body>
</html>