@{
    Layout = "_EmployeesLayout";
}
@section Scripts {
    <script src="~/js/Home/EmployeesIndex.js"></script>
}
<div class="row">
    <div class="col-md-6 presentVisit">
        <div class="tiles">
            <div class="tiles-header">
                Present Visit
            </div>
            <div class="tiles-body today-assignment">
                Client Name:<span id="clientName"></span>
                <br/>Address:<span id="address"></span>
                <br/>Time:<span id="time"></span>
            </div>
            <div class="tiles-footer">
                <button class="acceptButton sheduleCall" onclick="index.buttonclick()">Are you here? Would you like to start the clock?</button>
                <button class="acceptButton emergencyCall" onclick="index.buttonclick()">Are you on emergency call?  Would you like to start the clock?</button>
                <button class="acceptButton justLogin" onclick="index.justLogin()">Just Login</button>
            </div>

        </div>
    </div>
    <div class="col-md-6 pendingAcceptence" >
        <div class="tiles">
            <div class="tiles-header">
                Pending Acceptence
            </div>
            <div id="pendingAcceptence" class="tiles-body">
                
            </div>
            <div class="tiles-footer">
                more
            </div>

        </div>
    </div>
</div>