@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {    
    <script src="~/js/Home/Index.js"></script>
}
<div class="row">
    <div class="col-md-4">
       <div class="tiles">
           <div class="tiles-header">
               Accepted
           </div>
           <div id="accepted" class="tiles-body">
               7
           </div>
           <div class="tiles-footer">
               more
           </div>

       </div>
    </div>
    <div class="col-md-4">
        <div class="tiles">
            <div class="tiles-header">
                Pending Approval
            </div>
            <div id="pendingApproval" class="tiles-body">
                7
            </div>
            <div class="tiles-footer">
                more
            </div>

        </div>
    </div>
    <div class="col-md-4">
        <div class="tiles">
            <div class="tiles-header">
                Pending Acceptence
            </div>
            <div id="pendingAcceptence" class="tiles-body">
                7
            </div>
            <div class="tiles-footer">
                more
            </div>

        </div>
    </div>
</div>
