@{
    ViewData["Title"] = "Roles";
}
@section Scripts {    
    <link href="~/lib/Other/Jstree/dist/themes/default/style.min.css" rel="stylesheet" />
    <script src="~/lib/Other/Jstree/dist/jstree.min.js"></script>
    <link href="~/css/Home/Roles.min.css" rel="stylesheet" />
    <script src="~/js/Home/Roles.min.js"></script>    
    <script src="~/lib/zabuto_calendar/zabuto_calendar.min.js"></script>
<link href="~/lib/zabuto_calendar/zabuto_calendar.css" rel="stylesheet" />
}
<div class="left_pane">
   
</div>
<div class="right_pane">
    
</div>


