<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Areas/SocialIntelligence/css/Site.css" /> 
</head>
<body>
    Layout Default....<br/>
    <div>
        @RenderBody()
    </div>
</body>
</html>
